{% extends base_layout %}

{% block header_title_lead %}{% endblock %}

{% block boat %}
    <div class="row"><!--FIRST ROW-->
        <div class="jumbotron masthead">
            <div class="container">
                <div class="row-fluid" style="padding-top:100px;">
                    <div class="span7">
                        <div class="row">
                            <div>
                                <img src="boilerplate/img/boat.png">
                            </div>
                            <div class="span12 offset1">
                                <div class="span2" >
                                    <a href="#" class="tip crew12button" data-toggle="tooltip" data-placement="bottom" title="{{ name1 }}">
                                        {% if imageD1 is  none %}

                                        {% else %}
                                            {{ imageD1 }}
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="span2">
                                    <a href="#" class="tip crew12button" data-toggle="tooltip" data-placement="bottom" title="{{ name2 }}">
                                        {% if imageD2 is  none %}

                                        {% else %}
                                            {{ imageD2 }}
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="span2">
                                    <a href="#" class="tip crew34button" data-toggle="tooltip" data-placement="bottom" title="{{ name3 }}">
                                        {% if imageD3 is  none %}

                                        {% else %}
                                            {{ imageD3 }}
                                        {% endif %}
                                </div>
                                <div class="span2">
                                    <a href="#" class="tip crew34button" data-toggle="tooltip" data-placement="bottom" title="{{ name4 }}">
                                        {% if imageD4 is  none %}

                                        {% else %}
                                            {{ imageD4 }}
                                        {% endif %}
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="span5">
                        <h1>Captain of the Day</h1>
                        <h3 class="bubble">{{ pm }}</h3><br>
                        <div class="span2">
                            {% if imageD is  none %}

                            {% else %}
                                {{ imageD }}
                            {% endif %}
                        </div>

                        <div class="span12 dl-horizontal" style="word-wrap: break-word;" >

                            <h3>{{ name }}</h3>
                            <dl style="color:#222222; font-size: 18px">
                                <dt>Contribution: </dt>
                                <dd>{{ contribution }}</dd>
                                <dt>Age: </dt>
                                <dd>{{ age }} Years Old</dd>
                                <dt>Living in</dt>
                                <dd>{{ country }}</dd>
                                <dt>Working as</dt>
                                <dd>{{ occupation }}</dd>


                            </dl>

                        </div>
                    </div>

                </div>
            </div> <!-- /container -->
        </div>
    </div><!--END OF FIRST ROW-->
{% endblock %}


{% block crew %}
    <div class="row"><!--START OF ROW 2-->
        <div class="crew">
            <div class="container marketing">

                <div class="row">
                    <h1 align="center">Crew Members</h1>
                </div>
                <div class="row" id="crew12">
                    <div class="span6" align="center">
                        <h3 class="bubble">{{ pm1 }}</h3><br>
                        <div class="span3">
                            {% if imageD1 is  none %}

                            {% else %}
                                {{ imageD1 }}
                            {% endif %}
                        </div>

                        <div class="span7">

                            <h3>{{ name1 }}</h3>
                            <dl style="color:white;">
                                <dt>Contribution to society</dt>
                                <dd>{{ contribution1 }}</dd>
                                <dt>Age</dt>
                                <dd>{{ age1 }} Years Old</dd>
                                <dt>Living in</dt>
                                <dd>{{ country1 }}</dd>
                                <dt>Working as</dt>
                                <dd>{{ occupation1 }}</dd>


                            </dl>

                        </div>

                    </div>

                    <div class="span6" align="center">
                        <h3 class="bubble">{{ pm2 }}</h3><br>
                        <div class="span3">
                            {% if imageD2 is  none %}

                            {% else %}
                                {{ imageD2 }}
                            {% endif %}
                        </div>

                        <div class="span7">

                            <h3>{{ name2 }}</h3>
                            <dl style="color:white;">
                                <dt>Contribution to society</dt>
                                <dd>{{ contribution2 }}</dd>
                                <dt>Age</dt>
                                <dd>{{ age2 }} Years Old</dd>
                                <dt>Living in</dt>
                                <dd>{{ country2 }}</dd>
                                <dt>Working as</dt>
                                <dd>{{ occupation2 }}</dd>


                            </dl>

                        </div>
                    </div>
                </div>
                <div class="row" id="crew34">
                    <div class="span6" align="center">
                        <h3 class="bubble">{{ pm3 }}</h3><br>
                        <div class="span3">
                            {% if imageD3 is  none %}

                            {% else %}
                                {{ imageD3 }}
                            {% endif %}
                        </div>

                        <div class="span7">

                            <h3>{{ name3 }}</h3>
                            <dl style="color:white;">
                                <dt>Contribution to society</dt>
                                <dd>{{ contribution3 }}</dd>
                                <dt>Age</dt>
                                <dd>{{ age3 }} Years Old</dd>
                                <dt>Living in</dt>
                                <dd>{{ country3 }}</dd>
                                <dt>Working as</dt>
                                <dd>{{ occupation3 }}</dd>


                            </dl>

                        </div>
                    </div>
                    <div class="span6" align="center">
                        <h3 class="bubble">{{ pm4 }}</h3><br>
                        <div class="span3">
                            {% if imageD4 is  none %}

                            {% else %}
                                {{ imageD4 }}
                            {% endif %}
                        </div>

                        <div class="span7">

                            <h3>{{ name4 }}</h3>
                            <dl style="color:white;">
                                <dt>Contribution to society</dt>
                                <dd>{{ contribution4 }}</dd>
                                <dt>Age</dt>
                                <dd>{{ age4 }} Years Old</dd>
                                <dt>Living in</dt>
                                <dd>{{ country4 }}</dd>
                                <dt>Working as</dt>
                                <dd>{{ occupation4 }}</dd>


                            </dl>

                        </div>
                    </div>
                </div>
            </div><!-- /.container -->
        </div><!-- /end of row 2 -->
    </div>

{% endblock %}


{% block about %}
    <div class="row about" id="whatIsArky"><!--start of 3rd row-->
        <!-- START THE FEATURETTES -->
        <div class="container">
            <div class="row">
                <h2 class="featurette-heading" align="center">What is Arky? <span class="muted">To recognize contributions</span></h2>
                <p class="lead" align="center">
                    In our current society, we slogged all our life trying to be somebody on this planet. We aim high, work hard and often wish that people recognize us for all the hard work we had done. However, for majority of us, we are still nobody in the end. Our limited social circle has crippled and denied us the honor we rightfully deserve.
                    <br><br>To provide opportunities and space to honor people’s contribution in our planet and encouraging all human to be more appreciative of others’ contribution.</p>
            </div>
            <hr>

            <div class="row">
                <h2 class="featurette-heading" align="center">So how it works? <span class="muted">It's easy.</span></h2>
                <p class="lead" align="center">Individuals will be choosen randomly daily and be highlighted as the Captain of the day. His/her information, together with 4 other individuals, will be featured on the frontpage!</p>
            </div>

            <hr>
            <div class="row">
                <h2 class="featurette-heading" align="center">And lastly, invite everyone! <span class="muted">Spread the words.</span></h2>
                <p class="lead" align="center">Let everybody's contribution to the society to be recognized! Get your friends and family to register today!</p>
            </div>

        </div>
        <!-- /END THE FEATURETTES -->

        <!-- FOOTER -->

        <footer>
            <p class="pull-right"><a href="#" id="topbutton">Back to top</a></p>
            <p>© 2013 Arky. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </footer>
    </div><!--END OF 3rd ROW-->

{% endblock %}

{% block hiddenContent %}
    <div id="signUp" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Welcome onboard!</h3>
        </div>
        <div class="modal-body" id="registrationFrame">
            <form id="form_register" action="{{ uri_for("register") }}" method="post" class="well form-horizontal" enctype="multipart/form-data">
                <fieldset>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    {{ macros.field(form.username, label=_("Username"), placeholder=_("Enter your")+" "+_("Username"), class="input-xlarge focused required") }}
                    {{ macros.field(form.name, label=_("Name"), placeholder=_("Enter your")+" "+_("Name"), class="input-xlarge focused") }}
                    {{ macros.field(form.last_name, label=_("Last Name"), placeholder=_("Enter your")+" "+_("Last Name"), class="input-xlarge focused") }}
                    {{ macros.field(form.email, label=_("Email"), placeholder=_("Enter your")+" "+_("Email"), class="input-xlarge focused required email", type="email") }}
                    {{ macros.field(form.password, label=_("Password"), placeholder=_("Enter your")+" "+_("Password"), class="input-xlarge focused required", type="password") }}
                    {% if not is_mobile %}
                        {{ macros.field(form.c_password, label=_("Confirm Password"), placeholder=_("Confirm Password"), class="input-xlarge focused required", type="password") }}
                    {% endif %}
                    {{ macros.field(form.country, label=_("Country")) }}
                    {{ macros.field(form.occupation, label=_("Occupation"), placeholder=_("Enter your")+" "+_("Occupation"), class="input-xlarge focused") }}
                    {{ macros.field(form.contribution, label=_("Contribution"), class="input-xlarge required", cols="40", rows="8") }}
                    {{ macros.field(form.pm, label=_("Personal Message"), class="input-xlarge required", cols="40", rows="4") }}
                    {{ macros.field(form.dob, label=_("Date of birth"), placeholder=_("YYYY-MM-DD")) }}
                    <label class="control-label" for="avatar">Upload a avatar</label>
                    <div class="controls">
                        <input type="file" name="avatar" class="input-xlarge focused required"/>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">{% trans %}Sign Up{% endtrans %}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div id="signIn" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Welcome onboard!</h3>
        </div>
        <div class="modal-body">

            <form id="form_login_user" action="{{ uri_for("login") }}" method="post" class="well form-vertical auth-at-loginpage">
                <fieldset>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    {{ macros.field(form.username, label=_("Username or Email"), placeholder=_("Enter your")+" "+_("Username or Email"), class="input-xlarge focused required") }}
                    {{ macros.field(form.password, label=_("Password"), placeholder=_("Enter your")+" "+_("Password"), class="input-xlarge focused required", type="password") }}
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary btn-login">{% trans %}Login{% endtrans %}</button>
                            <label class="remember">
                                <input type="checkbox" name="remember_me" id="remember_me" value="on">
                                {% trans %}Remember me?{% endtrans %}
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <a href="{{ uri_for("password-reset") }}">{% trans %}Forgot your password?{% endtrans %}</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div id="contactUs" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Feel free to provide any feedbacks!</h3>
        </div>
        <div class="modal-body">
            <iframe src="" style="" frameborder="0" width="100%" height="250">
            </iframe>
        </div>

    </div>

    <div id="editProfile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Something new about yourself?</h3>
        </div>
        <div class="modal-body">
            <iframe src="" style="" frameborder="0" width="100%" height="250">
                {% block profileBlock %}
                {% endblock %}
            </iframe>
        </div>

    </div>



{% endblock %}


{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function() {
            $("#form_edit_profile").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
            {% if country != "" %}
                $('#country option[value="{{ country }}"]').attr("selected",true);
            {% endif %}
        });
    </script>


    <script type="text/javascript">
        $().ready(function() {
            $("#form_register").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                rules: {
                    password: 'required',
                    c_password: {
                        required: true,
                        equalTo: '#password'
                    }
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });

            $("#password").passStrength({
                shortPassText: '{% trans %}Short Password{% endtrans %}',
                badPassText: '{% trans %}Insecure Password{% endtrans %}',
                goodPassText: '{% trans %}Good Password{% endtrans %}',
                strongPassText: '{% trans %}Secure Password{% endtrans %}'
            });
        });
    </script>


    <script type="text/javascript">
        $().ready(function() {
            $("#form_login_user").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
        });
    </script>

    <script type="text/javascript">
        $().ready(function() {
            $("#form_contact").validate({
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
        });
    </script>

    <script type="text/javascript">
        $().ready(function() {
            $("#form_login_user").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });

            $("#form_register").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                rules: {
                    password: 'required',
                    c_password: {
                        required: true,
                        equalTo: '#password'
                    }
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });

            $("#password").passStrength({
                shortPassText: '{% trans %}Short Password{% endtrans %}',
                badPassText: '{% trans %}Insecure Password{% endtrans %}',
                goodPassText: '{% trans %}Good Password{% endtrans %}',
                strongPassText: '{% trans %}Secure Password{% endtrans %}'
            });
        });
    </script>

    <!--LOAD IFRAME FOR EDIT PROFILE-->
    <script type="text/javascript">
        var profileFrameSrc = "/settings/profile";

        $('#openEditProfile').click(function(){
            $('#editProfile').on('show', function () {
                $('iframe').attr("src",profileFrameSrc);

            });
            $('#editProfile').modal({show:true})
            //$('body').css('overflow','hidden');
            //$('body').css('position','fixed');

        });

        var contactUsFrameSrc = "/contact";

        $('#openContactUs').click(function(){
            $('#contactUs').on('show', function () {
                $('iframe').attr("src",contactUsFrameSrc);

            });
            $('#contactUs').modal({show:true})
            //$('body').css('overflow','hidden');
            //$('body').css('position','fixed');

        });

    </script>



{% endblock %}

