{% import "macros.html" as macros %}


<link href="/boilerplate/css/bootstrap.css" rel="stylesheet">
<script type="text/javascript" src="/boilerplate/js/libs/jquery-1.10.1.min.js"></script>

<!-- All JavaScript at the bottom, except this Modernizr build.
   Modernizr enables HTML5 elements & feature detects for optimal performance. -->
<script src="/boilerplate/js/libs/modernizr-2.6.1.min.js"></script>

    <div id="edit_profile" class="well form-horizontal">
        Search by occupation
        <fieldset>
        <form id="form_search" action="{{ occ }}" method="get" class="well form-horizontal" enctype="multipart/form-data" class="navbar-search pull-right">
            <fieldset>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

                {{ macros.field(form.occ, label=_("Search: ")) }}

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">{% trans %}Search{% endtrans %}</button>
                </div>
            </fieldset>
        </form>

        </fieldset>
    </div>

{% block mediaJS %}

{% endblock %}

